/* External CSS file */

body {
    background-color: #f0f0f0;
}

/* External class (BONUS challenge) */
.externalBox {
    background-color: lightgreen;
    width: 200px;
    height: 50px;
    border: 1px solid gray;
}
